<%= form_with(model: @post, local: true,url: choose_new_or_edit ) do |form| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーがあります</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <%= form.text_field :content ,class: "form-control" ,placeholder: "コメントを入力してください"%>
          <p class="help-block text-danger"></p>

          <br>
          <%= form.file_field :image, id: :feed_image ,placeholder: "pic"%>
          <%= form.hidden_field :image_cache %>
          <p class="help-block text-danger"></p>
        </div>
      </div>

      <br>
      <%= form.submit "tweet", class: 'btn btn-info' %>
    <% end %>

    <%= link_to "back post", posts_path, class: 'btn btn-warning' %>
  </div>

</div>
</div>
