<header class="intro-header" style="background-image: url('/assets/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Post confirm</h1>
          <hr class="small">
          <span class="subheading">A Clean Post</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3>登録しますか？</h3>
      <hr>
      <div class="post-preview">
        <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
        <%= form.hidden_field :content %>

        <p>本文 :<%= @post.content %></p>
        <% if @post.image.present? %>
          <%= image_tag(@post.image.url) %>
        <% end %>
        <%= hidden_field_tag :"cache[image]",@post.image.cache_name %>
        <hr>
        <br>
        <%= form.submit "登録する" , class: 'btn btn-default' %>
      <% end %>

      <%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
      <%= form.hidden_field :content %>
      <br>
      <%= form.submit "戻る" ,name: 'back', class: 'btn btn-default'%>
    <% end %>
  </div>
  <hr>

</div>
</div>
</div>

<hr>
